body {
	height: 100vh;
    width: 100vw;
    margin: 0;
	font-family: 'Montserrat', sans-serif;
}
.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 1450px;
	height: 80px;
	position: relative;
	background: linear-gradient(rgba(0, 82, 204, 0.9), rgba(102, 163, 255, 0.8), rgba(179, 209, 255, 0.9));
}
#title {
	margin-top: 15px;
	margin-left: -75px;
	position: absolute;
	z-index: 1;
	font-weight: bold;	
	font-size: 16;
	color: black;
}
.menu {
	display: flex;
	position: absolute;
	margin-top: 50px;
	margin-left: 17px;
}
.menu-item {
	display:flex;
	justify-content: center;
	padding-right: 25px;
	color: black;
}
.home-img {
	position: absolute;
	z-index: 5;
	width: 1450;
	height: 770;
	background-color: black;
	opacity: 0.7;
	
}
.home-img img {
	object-fit: cover;
	opacity: 0.5;
	width: 100%;
	height: 100%;
}
.dashboard {
	width: 1450px;
	height: 770px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.about-box {
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 6;
	background: rgb(255, 179, 102, 0.6);
	top: 200px;
	width: 500px;
	height: 400px;
	border-radius: 25px;
	margin-top: -30px;
}
.box {
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 6;
	background: rgb(255, 179, 102, 0.6);
	top: 200px;
	width: 500px;
	height: 200px;
	border-radius: 25px;
}
.hello {
	padding-top: 10px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 40;
}
.text {
	font-size: 20;
	padding-left: 10px;
	padding-top: 20px;

}
.menu-item:hover {
	color: rgb(204, 102, 0);
	opacity: 0.5;
	cursor: pointer;
}
#title:hover {
	cursor: pointer;
	color: black;
}
.background {
	width: 1450px;
	height: 1500px;
	background: white;
}
.search {
	width: 700px;
	height: 388px;
	margin-left: 400px;
	margin-top: 50px;
}
.search img {
	object-fit: contain;
	width: 100%;
	height: 100%;
	padding: 3px;
	border:1px solid rgb(0, 82, 204);
	background-color: rgb(0, 82, 204);
}
.shadow {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;	
	width: 705.5px;
	height: 394px;
	background: black;
	opacity: 0;
	color: white;
}
.search:hover > .shadow {
	opacity: 0.8;
}
.fashion-advisor {
	width: 900;
	height: 360;
	margin-left: 300px;
	margin-top: 50px;
}
.fashion-advisor img {
	object-fit: contain;
	width: 100%;
	height: 100%;
	padding: 3px;
	border:1px solid rgb(0, 82, 204);
	background-color: rgb(0, 82, 204);
}
.fashion-shadow {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;	
	width: 905.5px;
	height: 365px;
	background: black;
	opacity: 0;
	color: white;
}
.fashion-advisor:hover > .fashion-shadow {
	opacity: 0.8;
}
/*fashion advisor page*/
.dash {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 80px;
}

.one {
	width: 850px;
	height: 500px;
	padding-bottom: 40px;
	margin-top: -60px;
}
.one img {
	object-fit: contain;
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
}
.textbox1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 850px;
	height: 150px;
	margin-top: 350px;
	background: black;
	opacity: 0;
	color: white;
}
.one:hover > .textbox1 {
	opacity: 0.8;
}
.two {
	width: 850px;
	height: 515px;
	padding-bottom: 40px;
}
.two img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}
.textbox2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 850px;
	height: 150px;
	margin-top: 363px;
	background: black;
	opacity: 0;
	color: white;
}
.two:hover > .textbox2 {
	opacity: 0.8;
}
.three {
	width: 800px;
	height:630px;
	padding-bottom: 40px;
}
.three img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}
.textbox3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 676px;
	margin-left: 63px;
	height: 150px;
	margin-top: 480px;
	background: black;
	opacity: 0;
	color: white;
}
.three:hover > .textbox3 {
	opacity: 0.8;
}






